# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo
.next/

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.eslintcache
.turbo/
